<a href="https://colab.research.google.com/github/m-Ximena/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
#Ejercicio 3.1
sue1=float(input("Ingrese el salario del primer trabajador = $"))
sue2=float(input("Ingrese el salario del segundo trabajador = $"))
sue3=float(input("Ingrese el salario del tercero trabajador = $"))
sue4=float(input("Ingrese el salario del cuarto trabajador = $"))
sue5=float(input("Ingrese el salario del quinto trabajador = $"))
sue6=float(input("Ingrese el salario del sexto trabajador = $"))
sue7=float(input("Ingrese el salario del séptimo trabajador = $"))
sue8=float(input("Ingrese el salario del octavo trabajador = $"))
sue9=float(input("Ingrese el salario del noveno trabajador = $"))
sue10=float(input("Ingrese el salario del décimo trabajador = $"))

total=sue1+sue2+sue3+sue4+sue5+sue6+sue7+sue8+sue9+sue10

print("El total de nómina es $",total)

Ingrese el salario del primer trabajador = $2345
Ingrese el salario del segundo trabajador = $2346
Ingrese el salario del tercero trabajador = $1234
Ingrese el salario del cuarto trabajador = $1567
Ingrese el salario del quinto trabajador = $4567
Ingrese el salario del sexto trabajador = $2348
Ingrese el salario del séptimo trabajador = $4567
Ingrese el salario del octavo trabajador = $5678
Ingrese el salario del noveno trabajador = $23456
Ingrese el salario del décimo trabajador = $2345
El total de nómina es $ 50453.0

In [130]:
#Ejercicio 3.4
sumagas=0
gasto=0
print("Suma de gastos del viaje")
while gasto>-1:
  gasto=float(input("Introduce uno de los gastos hecho en el viaje = $"))
  sumagas=sumagas+gasto
  s=sumagas+1

print("El total de los gastos hechos en el viaje son $",s)

Suma de gastos del viaje
Introduce uno de los gastos hecho en el viaje = $2528
Introduce uno de los gastos hecho en el viaje = $3500
Introduce uno de los gastos hecho en el viaje = $1600
Introduce uno de los gastos hecho en el viaje = $1850
Introduce uno de los gastos hecho en el viaje = $150
Introduce uno de los gastos hecho en el viaje = $-1
El total de los gastos hechos en el viaje son $ 9628.0