<a href="https://colab.research.google.com/github/m-Ximena/cyp_2021/blob/main/Tarea_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Ejemplo 2.4
sue=float(input("Ingrese el sueldo del trabajador = $"))

if(sue<1000):
  aum15=sue*0.15
  nsue=sue+aum15
  print("El nuevo sueldo del trabajador es $",nsue)

else:
  aum12=sue*0.12
  nsue=sue+aum12
  print("El nuevo sueldo del trabajador es $",nsue)

Ingrese el sueldo del trabajador = $840.50
El nuevo sueldo del trabajador es $ 966.575

In [16]:
#Ejemplo 2.8
cat=int(input("Ingrese la categoría del trabajador (1,2,3,4) = "))
sue=float(input("Ingrese el sueldo del trabajador = $"))

if(cat==1):
  aum15=sue*0.15
  nsue=sue+aum15
  print("La categoría del trabajador es",cat,"por lo tanto su nuevo sueldo es $",nsue)

elif(cat==2):
  aum10=sue*0.10
  nsue=sue+aum10
  print("La categoría del trabajador es",cat,"por lo tanto su nuevo sueldo es $",nsue)

elif(cat==3):
  aum8=sue*0.08
  nsue=sue+aum8
  print("La categoría del trabajador es",cat,"por lo tanto su nuevo sueldo es $",nsue)

else:
  aum7=sue*0.07
  nsue=sue+aum7
  print("La categoría del trabajador es",cat,"por lo tanto su nuevo sueldo es $",nsue)

Ingrese la categoría del trabajador (1,2,3,4) = 3
Ingrese el sueldo del trabajador = $4100
La categoría del trabajador es 3 por lo tanto su nuevo sueldo es $ 4428.0